html,
body,
#root {
	min-height: 100%;
	height: 100%;
}

.App {
	background: #e2e8dd;
	min-height: 100%;
	height: 100%;
	padding: 15px;
}

.Accordion {
	width: 100%;
}

.AccordionItem {
	margin: 1px 0;
	display: block;
	padding: 12px;
	border: 1px solid #aac0aa;
	background: white;
}

.AccordionItem .AccordionItemHeader {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	color: #4e5340;
}

.AccordionItem .AccordionItemHeader span {
	font-weight: bold;
	color: #e9806e;
}

.AccordionItem .AccordionItemContent {
	padding-top: 25px;
	font-size: 14px;
}
